Package: com.miwix.acid
Name: Acid
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lavie Gariv
Author: Lavie Gariv
Section: Tweaks
